<!DOCTYPE html>
<html class="fullscreen-background">
<head lang="en">
    <meta charset="UTF-8">
    <title>CodeRacing</title>

    <link rel='stylesheet' href='/static/fonts.css' type='text/css'>
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="content">
        <div class="row title">
            <h1>Code Racing</h1>
        </div>
        {% if is_auth %}
            <div class="user-info">
                <div class="name">Logged as <b>{{ user.full_name }}</b></div>
                <a href="/logout">Log Out</a>
            </div>
        {%  endif %}
        <div class="row about">
            <div class="col-xs-offset-1 col-xs-10">
                <p>Trainings, Battles, Prizes!</p>
                <p><a href="/scoreboard">Scoreboard</a></p>
            </div>
        </div>
        {% if is_auth %}
        <div class="main-choice row">
            <div class="col-xs-offset-1 col-xs-4">
                <h3>Training</h3>
                <p>
                    Choose lang to start.
                </p>
                <div class="select-language row">
                    <a class="btn btn-primary  col-xs-offset-1 col-xs-5" role="button" data-language="csharp">C#</a>
                    <a class="btn btn-primary  col-xs-offset-1 col-xs-5" role="button" data-language="javascript">JavaScript</a>
                </div>
                <div class="select-language row">
                    <a class="btn btn-primary  col-xs-offset-1 col-xs-5" role="button" data-language="asm">Asm</a>
                    <a class="btn btn-primary  col-xs-offset-1 col-xs-5" role="button" data-language="python">Python</a>
                </div>
            </div>

            <div class="col-xs-offset-1 col-xs-4">
                <h3>Competition</h3>
                <p>
                   Enter Password:
                </p>
                <div class="enter-password row">
                    <input type="text" name="password" autocomplete="off" placeholder="password" class="col-xs-offset-1 col-xs-5 form-control-static">
                    <a class="enjoy-contest-button btn btn-primary col-xs-offset-1 col-xs-5" role="button">Ready</a>
                </div>
                <p class="enjoy-contest-result">&nbsp;</p>
            </div>
        </div>
        {% else %}
        <div class="vk-login-button-container row">
            <a class="btn btn-primary btn-lg" href="https://oauth.vk.com/authorize?client_id={{ vk_app_id }}&scope=&redirect_uri={{ vk_redirect_url }}&display=page&v=5.29&response_type=code&state=auth" role="button">Login using VK</a>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript" src="/static/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/static/ajax-setup.js"></script>
    <script type="text/javascript" src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/codingracing.js"></script>
</body>
</html>
